.bmi-risk-factors
.bmi-risk-factors__title {
    font-size: 1.6rem;
    font-style: italic;
    font-weight: bold;
    line-height: 1.4;
    margin-top: 0;
}

.bmi-risk-factors
.bmi-risk-factors__list {
    font-size: 1.2rem;
    font-weight: bold;
}

.bmi-risk-factors
.bmi-risk-factors__list-item {
    line-height: 1.5;

}